.additional {
    background-image: url(../img/bgn_additional.jpg);
    min-height: 522px;
    h1 {
        margin-bottom: 49px;
        color: white;
    }
    .button_submit {
        margin-top: 20px;
    }
}

.single-item {
    display: none;
}