.models {
    #request_form_input {
        display: block;
        // margin: 0;
        position: relative;
        left: 10px;
    }
}

.models {
    background-image: url(../img/bgn_models.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 892px;
}